<footer class="footer" style="min-height:200px;text-align:center;padding-top:50px;" xmlns:th="http://www.thymeleaf.org">
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0" style="visibility: hidden">

            </div>
            <!--Grid column-->
            <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Контакт</h5>

                <p>
                    gorast.angelovski1@gmail.com<br>
                    https://github.com/robert-ilievski<br>
                    https://github.com/Kirca54
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0" style="visibility: hidden">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0">Линкови</h5>

                <ul class="list-unstyled">
                    <li>
                        <a class="footer-link" href="#">Регистрирај се</a>
                    </li>
                    <li>
                        <a class="footer-link" href="#">За нас</a>
                    </li>
                    <li>
                        <a class="footer-link" href="#">Рецепти</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #023F92; margin-top: 15px; color: black">
        © 2020 Copyright: Gorast Angelovski
    </div>
</footer>