<footer class="footer" style="min-height:200px;text-align:center;padding-top:50px;" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <!--Grid row-->
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-0 col-xs-1">

            </div>
            <!--Grid column-->
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 footer-box">
                <h5 class="text-uppercase">Контакт</h5>

                <p>
                    https://github.com/gorast-angelovski<br>
                    https://github.com/robert-ilievski<br>
                    https://github.com/Kirca54
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-1 col-md-1 col-sm-1">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-5 footer-box">
                <h5 class="text-uppercase mb-0">Линкови</h5>

                <ul class="list-unstyled">
                    <li>
                        <a class="footer-link" href="/register">Регистрирај се</a>
                    </li>
                    <li>
                        <a class="footer-link" href="/about-us">За нас</a>
                    </li>
                    <li>
                        <a class="footer-link" href="/recipes">Рецепти</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-0 col-xs-1">

            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #023F92; margin-top: 15px; color: black">
        © 2021 Copyright: Gorast Angelovski
    </div>
</footer>