<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <div id="logo-bg"><img id="logo" src="../../../../../../../../Downloads/untitled/images/napijselogocrno.png"></div>
                </a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">За Нас</a>
                    </li>
                    <li>
                        <a href="#">Рецепти</a>
                    </li>
                    <li>
                        <a href="#">Мои Рецепти</a>
                    </li>
                    <li>
                        <a href="#">ADMIN</a>
                    </li>
                    <li>
                        <a href="#">Регистрирај се</a>
                    </li>
                    <li>
                        <a href="#">Најава</a>
                    </li>
                    <li>
                        <a href="#">Одјави се</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>
