<header xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/home">
                    <div id="logo-bg">
                        <img id="logo" src="https://i.imgur.com/LcXI5tO.png"/>
                    </div>
                </a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a th:href="@{/about-us}" th:method="get">За Нас</a>
                    </li>
                    <li>
                        <a th:href="@{/recipes}" th:method="get">Рецепти</a>
                    </li>
                    <li>
                        <!--TODO: moi recepti-->
                        <a sec:authorize="isAuthenticated()" th:action="" th:method="get">Мои Рецепти</a>
                    </li>
                    <li>
                        <a sec:authorize="isAuthenticated()"
                           th:href="@{'/{username}/favourites'
                           (username=${#request.getRemoteUser()})}"
                           th:method="get">Омилени</a>
                    </li>
                    <li>
                        <a sec:authorize="hasRole('ROLE_ADMIN')" href="#">ADMIN</a>
                    </li>
                    <li>
                        <a sec:authorize="!isAuthenticated()" th:href="@{'/register'}" th:method="get">Регистрирај се</a>
                    </li>
                    <li>
                        <a sec:authorize="!isAuthenticated()" th:href="@{'/login'}" th:method="get">Најава</a>
                    </li>
                    <li>
                        <a sec:authorize="isAuthenticated()" href="/logout">Одјави се</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>
