<div class="container" style="padding: 15vh 5% 30vh 5%">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
            <h2 style="color: red"><i class="fa fa-exclamation-triangle fa-5x"></i><br>Статус код: 403</h2>
        </div>
        <div class="col-lg10 col-md-10 col-sm-10 col-xs-10">
            <h2 style="color: red">Упс, изгледа дека немате доволно привилегии за да го пристапите овој дел!</h2>
            <br>
            <h2 style="color: red">Ве молиме вратете се назад :)</h2>
            <a href="javascript:history.back()">
                <button class="add-recipe" style="background: maroon; border: black">Назад</button>
            </a>
        </div>
    </div>
</div>