<div class="container py-5">
    <!-- TODO: da se stilizira -->
    <div class="row">
        <div class="col-md-2 text-center">
            <p><i class="fa fa-exclamation-triangle fa-5x"></i><br/>Статус код: 403</p>
        </div>
        <div class="col-md-10">
            <p>Упс, изгледа дека немате доволно привилегии за да го пристапите овој дел!
                <br/>Ве молиме вратете се назад :)
            </p>
            <a class="btn btn-danger" href="javascript:history.back()">Назад</a>
        </div>
    </div>
</div>