<div class="container py-5">
    <!-- TODO: da se stilizira access-denied stranata -->
    <div class="row">
        <br>
        <br>
        <br>
        <br>
        <div class="col-md-2 text-center">
            <h2 style="color: red"><i class="fa fa-exclamation-triangle fa-5x"></i><br>Статус код: 403</h2>
        </div>
        <div class="col-md-10">
            <h2 style="color: red">Упс, изгледа дека немате доволно привилегии за да го пристапите овој дел!</h2>
            <br>
            <h2 style="color: red">Ве молиме вратете се назад :)</h2>
            <a class="btn btn-danger" href="javascript:history.back()">Назад</a>
        </div>
    </div>
</div>