<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add balloon</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Add new recipe</h1>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <form th:action="@{'/add-new-recipe/{id}' (id=${recipe?.id})}" method="post">
                <div class="form-group">
                    <label for="name">Recipe name</label>
                    <input type="text"
                           class="form-control"
                           id="name"
                           name="name"
                           th:value="(${recipe} != null ? ${recipe.name} : '')"
                           required
                           placeholder="Enter recipe name">
                </div>
                <div class="form-group">
                    <label for="description">Recipe description</label>
                    <input type="text"
                           class="form-control"
                           id="description"
                           name="description"
                           th:value="(${recipe} != null ? ${recipe.description} : '')"
                           required
                           placeholder="Enter recipe description">
                </div>
                <div class="form-group">
                    <label for="ingredients">Recipe ingredients, separated by comma</label>
                    <input type="text"
                           class="form-control"
                           id="ingredients"
                           name="ingredients"
                           th:value="(${recipe} != null ? ${recipe.ingredients} : '')"
                           required
                           placeholder="Enter recipe ingredients, separated by comma">
                </div>
                <div class="form-group">
                    <label>Category</label>
                    <select id="category" name="category" class="form-control">
                        <option th:if="${recipe} != null"
                                th:selected="${recipe.category != null &&
                                recipe.category.id == cat.id}"
                                th:each="cat: ${categories}"
                                th:value="${cat.id}"
                                th:text="${cat.name}">
                        </option>
                        <option th:if="${recipe} == null"
                                th:each="cat: ${categories}"
                                th:value="${cat.id}"
                                th:text="${cat.name}">
                        </option>
                    </select>
                </div>
                <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                <a type="button" class="btn btn-primary" href="/recipes">Back</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>