<th:block xmlns:th="http://www.thymeleaf.org">
    <section class="text-center">
        <h1 class="jumbotron-heading">Додај нова рецепта</h1>
    </section>

    <div class="container">
        <div class="row add-form">
            <div class="col-md-5">
                <form th:action="@{'/add-new-recipe/{id}' (id=${recipe?.id})}" method="post">
                    <div class="form-group">
                        <label for="name"><h2>Име на рецепта</h2></label>
                        <input type="text"
                               class="fadeIn first login"
                               id="name"
                               name="name"
                               th:value="(${recipe} != null ? ${recipe.name} : '')"
                               required
                               placeholder="Внеси име">
                    </div>
                    <div class="form-group">
                        <label for="description"><h2>Објаснување на рецепта</h2></label>
                        <input type="text"
                               class="fadeIn first login"
                               id="description"
                               name="description"
                               th:value="(${recipe} != null ? ${recipe.description} : '')"
                               required
                               placeholder="Внеси објаснување"
                               style="height: 200px">
                    </div>
                    <div class="form-group">
                        <label for="ingredients"><h2>Состојки на рецептата, разделени со запирка</h2></label>
                        <input type="text"
                               class="fadeIn first login"
                               id="ingredients"
                               name="ingredients"
                               th:value="(${recipe} != null ? ${recipe.ingredients} : '')"
                               required
                               placeholder="Внеси ги состојките">
                    </div>
                    <div class="form-group">
                        <label><h2>Категорија</h2></label>
                        <select id="category" name="category" class="fadeIn first login">
                            <option style="color: black" th:if="${recipe} != null"
                                    th:selected="${recipe.category != null &&
                                recipe.category.id == cat.id}"
                                    th:each="cat: ${categories}"
                                    th:value="${cat.id}"
                                    th:text="${cat.name}">
                            </option>
                            <option style="color: black" th:if="${recipe} == null"
                                    th:each="cat: ${categories}"
                                    th:value="${cat.id}"
                                    th:text="${cat.name}">
                            </option>
                        </select>
                    </div>
                    <button id="submit" type="submit" class="btn btn-primary">Додај рецепта</button>
                    <a type="button" class="btn btn-primary" href="/recipes">Назад</a>
                </form>
            </div>
        </div>
    </div>

</th:block>