

<div class="login-box" xmlns:th="http://www.thymeleaf.org">
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">

            <h3 style="color: white" class="login-box-msg">Change your Password</h3>

            <form th:action="@{/password/change}" method="post">
                <div class="input-group mb-3">
                    <input style="margin-left: 540px" type="password" class="login" name="password" placeholder="New Password"
                           autocomplete=”off”>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <input style="margin-left: 540px" type="password" name="repeatPassword" class="login" placeholder="Repeat Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>

                <input type="hidden" name="token" th:value="${token}" th:field="${token}"/>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-8">
                        <button style="margin-left: 455px" type="submit" class="btn btn-primary btn-block">Change Password</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <br>
            <p class="mb-0">
                <a style="margin-left: 710px" href="/login" class="btn btn-primary text-center">Sign In</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>

