

<div class="login-box" xmlns:th="http://www.thymeleaf.org">
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">

            <p class="login-box-msg">Change your Password</p>

            <form th:action="@{/password/change}" method="post">
                <div class="input-group mb-3">
                    <input type="password" class="form-control" name="password" placeholder="New Password"
                           autocomplete=”off”>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" name="repeatPassword" class="form-control" placeholder="Repeat Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="token" th:value="${token}" th:field="${token}"/>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-8">
                        <button type="submit" class="btn btn-primary btn-block">Change Password</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <p class="mb-0 text-right">
                <a href="/login" class="text-center">Sign In</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>

