<section class="jumbotron text-center" >
    <div class="container">
        <h1 class="jumbotron-heading">Edit comment</h1>
    </div>
</section>

<div class="container" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-md-5">
            <form th:action="@{'/edit-comment/{recipeId}/{commentId}' (recipeId=${comment.recipe.id}, commentId=${comment.id})}"
                  method="post">
                <div class="form-group">
                    <label for="content">Comment content</label>
                    <input type="text"
                           class="form-control"
                           id="content"
                           name="content"
                           th:value="(${comment} != null ? ${comment.content} : '')"
                           required
                           placeholder="Enter recipe description">
                </div>
                <button id="submit" type="submit" class="btn btn-primary">Submit</button>
            </form>
            <button type="submit" class="btn btn-primary"
               th:action="@{'/recipes/info/{id}' (id=${recipeId})}"
               th:method="get">Back</button>
        </div>
    </div>
</div>