<main class="container" xmlns:th="http://www.thymeleaf.org">
    <div th:if="${hasError}">
        <h3 th:text="${error}"></h3>
    </div>
    <br>
    <div sec:authorize="isAuthenticated()">
        <div th:if="${#request.getRemoteUser()!=null}">
            <h2>Омилени рецепти на:
                <th:block th:text="${#request.getRemoteUser()}"/>
            </h2>
        </div>
    </div>
    <!--<form class="form-signin mt-xl-5" method="post" action="/balloons/searchBalloon">
        <label for="search" class="sr-only">Search</label>
        <input type="text" id="search" name="search" class="form-control" placeholder="Search by color or desc" required="" autofocus="">
        <button class="btn btn-lg btn-primary" type="submit">Search</button>
    </form>-->
    <div class="row" style="padding: 10px">
        <div class="column" th:each="recipe : ${favourites}">
            <div class="card">
                <form th:action="@{'/recipes/info/{id}' (id=${recipe.id})}" th:method="GET">
                    <button class="add-to-cart-btn" type="submit"
                            th:text="${recipe.name}" th:value="${recipe.id}">
                    </button>
                    <h2 th:text="${recipe.category.name}"></h2>
                    <h2 th:text="${#dates.format(recipe.datePosted, 'dd-MMM-yyyy')}"></h2>
                </form>

                <button class="delete-from-favorites" type="submit">
                    <a th:href="@{'/{username}/delete-from-favourites/{recipeId}'
                    (username=${#request.getRemoteUser()}, id=${recipe.id})}" th:method="post"
                    style="color: inherit">
                        Избриши од омилени
                    </a>
                </button>

            </div>
        </div>

    </div>
</main>
