<div id="formContent" xmlns:th="http://www.thymeleaf.org">
    <div th:if="${hasError}">
        <h3 th:text="${error}"></h3>
    </div>
    <div class="row" style="min-height: 64vh; width: 80%; margin: 50px auto;">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <img class="logo-login" src="https://i.imgur.com/OuxCIKn.png"/>
        </div>


        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin: 30px auto">
            <div class="aligner">
                <!-- Login Form -->
                <form th:action="@{'/password/request'}" method="post">
                    <h2>Внесете го вашето корисничко име</h2>
                    <input type="text" id="username" class="fadeIn second" name="username" placeholder="Корисничко име"><br>
                    <input type="submit" class="fadeIn fourth" value="Ресетирај">
                </form>

                <button class="center" style="display: block"><a href="/login" style="color: white">Најава</a></button>

            </div>
        </div>
    </div>
</div>