<div id="formContent" xmlns:th="http://www.thymeleaf.org">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first form-group">
        <img class="logo-login" src="https://i.imgur.com/OuxCIKn.png"/>
    </div>

    <div th:if="${hasError}">
        <h3 th:text="${error}"></h3>
    </div>

    <!-- Login Form -->
    <form th:action="@{'/login/post'}" method="post">
        <input type="text" id="username" class="fadeIn second" name="username" placeholder="Username">
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
        <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Register -->
    <div id="formFooter">
        <a href="/register"><button class="center add-recipe">Register here</button></a>
    </div>
</div>

