<th:block xmlns:th="http://www.thymeleaf.org">
    <main class="container">
        <div th:if="${hasError}">
            <h3 th:text="${error}"></h3>
        </div>
        <br>
        <div>
            <h2>Рецепти на корисник:
                <th:block th:text="${user.username}"/>
            </h2>
            <div>
                <h3 style="color: blanchedalmond">Име:
                    <th:block th:text="${user.name}"/>
                </h3>
                <h3 style="color: blanchedalmond">Презиме:
                    <th:block th:text="${user.surname}"/>
                </h3>
                <h3 style="color: blanchedalmond">Е-mail:
                    <th:block th:text="${user.email}"/>
                </h3>
            </div>
        </div>
        <div class="row" style="padding: 10px">
            <div class="column" th:each="recipe : ${recipes}">
                <div class="card">
                    <form th:action="@{'/recipes/info/{id}' (id=${recipe.id})}" th:method="GET">
                        <button class="add-to-cart-btn" type="submit"
                                th:text="${recipe.name}" th:value="${recipe.id}">
                        </button>
                        <h2 th:text="${recipe.category.name}"></h2>
                        <h2 th:text="${#dates.format(recipe.datePosted, 'dd-MMM-yyyy')}"></h2>
                    </form>
                    <form sec:authorize="isAuthenticated()"
                          th:action="@{'/{username}/add-to-favourites/{recipeId}'
                          (username=${#request.getRemoteUser()}, recipeId=${recipe.id})}" th:method="POST">
                        <input type="text" name="color" th:value="${recipe.id}" hidden>
                        <button class="add-to-cart-btn" type="submit">Додај во омилени</button>
                    </form>
                    <div sec:authorize="isAuthenticated()">
                        <form th:action="@{'/recipes/delete/{id}' (id=${recipe.id})}" method="post">
                            <button class="delete-balloon-btn" type="submit">Избриши</button>
                        </form>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <form th:action="@{'/recipes/edit/{id}' (id=${recipe.id})}">
                            <button class="edit-balloon-btn">Промени</button>
                        </form>
                    </div>

                </div>
            </div>

        </div>

        <a sec:authorize="isAuthenticated()" href="/add-new-recipe" th:method="GET">
            <button class="add-new-balloon-btn">Додај нова рецепта</button>
        </a>

    </main>
</th:block>