<th:block xmlns:th="http://www.thymeleaf.org">
    <br>
    <br>
    <br>
    <section class="text-center">
        <h1 class="jumbotron-heading">Информации за рецептот</h1>
        <h1 th:text="${recipe.name}"></h1>
        <div th:if="${hasError}">
            <h3 th:text="${error}"></h3>
        </div>
    </section>
    <!-- TODO levo da bidat informaciite za receptot - sostojki, datum, korisnik koj go postavil, kategorija a desno da bide
                opisot - toa e ustvari nacinot na podgotovka -->
    <div class="recipe-info center" style="width: 70%">
        <div class="row">
            <div class="col-lg-6">
                <h2>Категорија</h2>
                <h3 th:text="${recipe.category.name}"></h3>
                <h2>Состојки</h2>
                <div th:each="ingredient : ${#strings.arraySplit(recipe.ingredients, ',')}">
                    <h3 th:text="${ingredient}"></h3>
                </div>
            </div>
            <div class="col-lg-6">
                <h2>Опис</h2>
                <h3 th:text="${recipe.description}"></h3>
                <h2>Креатор на рецептата</h2>
                <h3>
                    <a th:text="${recipe.recipeUser.username}"
                       th:href="@{'/{username}/recipes' (username=${recipe.recipeUser.username})}"
                       th:method="get"></a>
                </h3>
                <h2 th:text="${#dates.format(recipe.datePosted, 'dd-MMM-yyyy')}"></h2>
            </div>
        </div>

    </div>
    <br><br>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead></thead>
            <tbody>
            <tr th:each="comment : ${comments}">
                <td th:text="${#dates.format(comment.datePosted, 'dd-MMM-yyyy')}"></td>
                <td>
                    <a th:href="@{'/{username}/recipes' (username=${comment.commentUser.username})}"
                       th:method="get"
                       th:text="${comment.commentUser.username}">
                    </a>
                </td>
                <td th:text="${comment.content}"></td>
                <td class="text-right">
                    <div th:if="${(comment.commentUser.username == #request.getRemoteUser()) || isAdmin}">
                        <form th:action="@{'/delete-comment/{recipeId}/{commentId}'
                        (recipeId=${comment.recipe.id}, commentId=${comment.id})}" method="post">
                            <button class="delete-balloon-btn" type="submit">Избриши</button>
                        </form>
                    </div>
                    <div th:if="${(comment.commentUser.username == #request.getRemoteUser()) || isAdmin}">
                        <form th:action="@{'/edit-comment/{recipeId}/{commentId}'
                        (recipeId=${comment.recipe.id}, commentId=${comment.id})}">
                            <button class="edit-balloon-btn">Уреди</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div sec:authorize="!isAuthenticated()">
        <div id="formFooter">
            <a href="/login">
                <button class="center add-recipe" >
                    Логирајте се за да коментирате
                </button>
            </a>
        </div>
    </div>
    <div sec:authorize="isAuthenticated()">
        <form th:action="@{'/add-comment/{recipeId}' (recipeId=${recipe.id})}" method="post">
            <div class="form-group">
                <textarea type="text"
                       class="login center"
                       id="content"
                       name="content"
                       required
                       placeholder="Внеси коментар"
                          style="height: 200px; width: 60%"></textarea>
            </div>
            <button type="submit" class="add-recipe" style="width: 60%">Постави коментар</button>
        </form>
    </div>

    <br>
    <br>
    <form method="get" action="/recipes">
        <div class="col mb-3">
            <div>
                <div class="col-sm-12 col-md-12">
                    <button type="submit" class="add-recipe">
                        Назад кон рецепти
                    </button>
                </div>
            </div>
        </div>
    </form>
    <!--<div class="container mb-4">-->
    <!--    <div class="row">-->
    <!--        <div class="table-responsive">-->
    <!--            <table class="table table-striped">-->
    <!--                <thead>-->
    <!--                <tr>-->
    <!--                    <th scope="col">Име на рецепта</th>-->
    <!--                    <th scope="col">Објаснување</th>-->
    <!--                    <th scope="col">Категорија</th>-->
    <!--                    <th scope="col">Состојки</th>-->
    <!--                    <th scope="col">Дата</th>-->
    <!--                    <th scope="col">Корисник</th>-->
    <!--                </tr>-->
    <!--                </thead>-->
    <!--                <tbody>-->
    <!--                <tr>-->
    <!--                    <td th:text="${recipe.name}"></td>-->
    <!--                    <td th:text="${recipe.description}"></td>-->
    <!--                    <td th:text="${recipe.category.name}"></td>-->
    <!--                    <td th:text="${recipe.ingredients}"></td>-->
    <!--                    <td th:text="${recipe.datePosted}"></td>-->
    <!--                    &lt;!&ndash; &ndash;&gt;-->
    <!--                    <td>No recipe creator</td>-->
    <!--                </tr>-->
    <!--                </tbody>-->
    <!--            </table>-->
    <!--        </div>-->
    <!--        <div class="table-responsive">-->
    <!--            <table class="table table-striped">-->
    <!--                <thead></thead>-->
    <!--                <tbody>-->
    <!--                <tr th:each="comment : ${comments}">-->
    <!--                    <td th:text="${comment.datePosted}"></td>-->
    <!--                    &lt;!&ndash; &ndash;&gt;-->
    <!--                    <td>Коментар од(корисничко име)</td>-->
    <!--                    <td th:text="${comment.content}"></td>-->
    <!--                    &lt;!&ndash;<td class="text-right">-->
    <!--                        <form action="/recipes/add-to-favourites" th:method="POST">-->
    <!--                            <input type="text" name="color" th:value="${recipe.id}" hidden>-->
    <!--                            <button class="add-to-cart-btn" type="submit">Add to favourites</button>-->
    <!--                        </form>-->
    <!--                        <div>-->
    <!--                            <form th:action="@{'/recipes/delete/{id}' (id=${recipe.id})}" method="post">-->
    <!--                                <button class="delete-balloon-btn" type="submit">Delete</button>-->
    <!--                            </form>-->
    <!--                        </div>-->
    <!--                        <div>-->
    <!--                            <form th:action="@{'/recipes/edit/{id}' (id=${recipe.id})}">-->
    <!--                                <button class="edit-balloon-btn">Edit</button>-->
    <!--                            </form>-->
    <!--                        </div>-->
    <!--                    </td>&ndash;&gt;-->
    <!--                </tr>-->
    <!--                </tbody>-->
    <!--            </table>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    -->
    <!--</div>-->
</th:block>>