<div xmlns:th="http://www.thymeleaf.org">
    <br>
    <br>
    <main class="container">
        <div th:if="${hasError}">
            <h3 th:text="${error}"></h3>
        </div>
        <br>
        <div sec:authorize="isAuthenticated()">
            <div th:if="${#request.getRemoteUser()!=null}">
                <h2>Најавен корисник:
                    <th:block th:text="${#request.getRemoteUser()}"/>
                </h2>
            </div>
        </div>

        <!-- TODO da se stilizira searchot, mozebi -->

        <form class="form-signin mt-xl-5" method="post" action="/recipes/search">
            <label for="recipeName" class="sr-only">Пребарај</label>
            <input type="text" id="recipeName" name="recipeName" class="fadeIn first login"
                   placeholder="Внеси име на рецепт" autofocus="">
            <label>Категорија</label>
            <select id="categoryId" name="categoryId" class="fadeIn first login">
                <option style="color: black" value="">Сите категории</option>
                <option style="color: black" th:each="category: ${categories}"
                        th:value="${category.id}"
                        th:text="${category.name}">
                </option>
            </select>
            <button class="add-recipe" type="submit" style="width: 20%">Пребарај</button>
        </form>
        <div class="row" style="padding: 10px">
            <div class="column" th:each="recipe : ${recipes}">
                <div class="card">
                    <form th:action="@{'/recipes/info/{id}' (id=${recipe.id})}" th:method="GET">
                        <button class="add-to-cart-btn" type="submit"
                                th:text="${recipe.name}" th:value="${recipe.id}">
                        </button>
                        <h2 th:text="${recipe.category.name}"></h2>
                        <h2 th:text="${#dates.format(recipe.datePosted, 'dd-MMM-yyyy')}"></h2>
                    </form>
                    <form sec:authorize="isAuthenticated()"
                          th:action="@{'/{username}/add-to-favourites/{recipeId}'
                            (username=${#request.getRemoteUser()}, recipeId=${recipe.id})}"
                          th:method="POST">
                        <input type="text" name="color" th:value="${recipe.id}" hidden>
                        <button class="add-to-cart-btn" type="submit">Додај во омилени</button>
                    </form>
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <form th:action="@{'/recipes/delete/{id}' (id=${recipe.id})}" method="post">
                            <button class="delete-balloon-btn" type="submit">Избриши</button>
                        </form>
                    </div>
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <form th:action="@{'/recipes/edit/{id}' (id=${recipe.id})}">
                            <button class="edit-balloon-btn">Промени</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <a sec:authorize="isAuthenticated()" href="/add-new-recipe" th:method="GET" style="color: inherit">
            <button class="add-recipe">
                    Додај нова рецепта
            </button>
        </a>

    </main>
</div>