<div id="formContent" xmlns:th="http://www.thymeleaf.org">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first form-group">
        <img class="logo-login" src="https://i.imgur.com/OuxCIKn.png"/>
    </div>

    <div th:if="${hasError}">
        <h3 th:text="${error}"></h3>
    </div>

    <!-- Login Form -->
    <form th:action="@{'/register'}" method="post">
        <input type="text" id="name" class="login" name="name" placeholder="име"
        required="">
        <input type="text" id="surname" class="login" name="surname" placeholder="презиме"
               required="">
        <input type="text" id="username" class="login" name="username" placeholder="корисничко име"
               required="">
        <input type="text" id="email" class="login" name="email" placeholder="e-mail">
        <input type="password" id="passwordReg" class="login" name="password" placeholder="лозинка"
               required="">
        <input type="password" id="repeatedPassword" class="login" name="repeatedPassword" placeholder="повтори лозинка"
               required="">

        <input type="submit" style="margin-top: 25px" value="Регистрирај се">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
        <a href="/login"><button class="center" style="display: block; margin: 40px auto 100px;">Веќе имате профил? Најавете се!</button></a>
    </div>
</div>
