<th:block xmlns:th="http://www.thymeleaf.org">
    <section class="text-center">
        <h1 class="jumbotron-heading">Информации за рецепта</h1>

    </section>
    <div class="card center" style="width: 70%">
        <h2 th:text="${recipe.description}"></h2>
        <h2 th:text="${recipe.category.name}"></h2>
        <h2 th:text="${recipe.ingredients}"></h2>
        <h2 th:text="${recipe.datePosted}"></h2>
        <h2 th:text="${recipe.createdBy}"></h2>
        <!-- TODO: display creator username -->
        <h2>Креатор на рецептата</h2>
    </div>
    <br><br>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead></thead>
            <tbody>
            <tr th:each="comment : ${comments}">
                <td th:text="${comment.datePosted}"></td>
                <!-- TODO: display comment username -->
                <td><h2>Коментар од(корисничко име)</h2></td>
                <td th:text="${comment.content}"></td>
                <!--<td class="text-right">
                    <form action="/recipes/add-to-favourites" th:method="POST">
                        <input type="text" name="color" th:value="${recipe.id}" hidden>
                        <button class="add-to-cart-btn" type="submit">Add to favourites</button>
                    </form>
                    <div>
                        <form th:action="@{'/recipes/delete/{id}' (id=${recipe.id})}" method="post">
                            <button class="delete-balloon-btn" type="submit">Delete</button>
                        </form>
                    </div>
                    <div>
                        <form th:action="@{'/recipes/edit/{id}' (id=${recipe.id})}">
                            <button class="edit-balloon-btn">Edit</button>
                        </form>
                    </div>
                </td>-->
            </tr>
            </tbody>
        </table>
    </div>
    <!-- TODO: kopce login to post a comment -->
    <div>
        <form th:action="@{'/add-comment/{id}' (id=${recipe.id})}" method="post">
            <div class="form-group">
                <label for="content"><h2>Додај коментар</h2></label>
                <input type="text"
                       class="form-control center"
                       id="content"
                       name="content"
                       required
                       placeholder="Внеси коментар"
                       style="height: 200px; width: 60%">
            </div>
            <button type="submit" class="btn btn-block btn-dark center" style="width: 60%">Постави коментар</button>
        </form>
    </div>

    <br>
    <br>
    <form method="get" action="/recipes">
        <div class="col mb-3">
            <div>
                <div class="col-sm-12 col-md-12">
                    <button type="submit" class="btn btn-block btn-dark center" style="width: 60%">Назад кон рецепти
                    </button>
                </div>
            </div>
        </div>
    </form>
    <!--<div class="container mb-4">-->
    <!--    <div class="row">-->
    <!--        <div class="table-responsive">-->
    <!--            <table class="table table-striped">-->
    <!--                <thead>-->
    <!--                <tr>-->
    <!--                    <th scope="col">Име на рецепта</th>-->
    <!--                    <th scope="col">Објаснување</th>-->
    <!--                    <th scope="col">Категорија</th>-->
    <!--                    <th scope="col">Состојки</th>-->
    <!--                    <th scope="col">Дата</th>-->
    <!--                    <th scope="col">Корисник</th>-->
    <!--                </tr>-->
    <!--                </thead>-->
    <!--                <tbody>-->
    <!--                <tr>-->
    <!--                    <td th:text="${recipe.name}"></td>-->
    <!--                    <td th:text="${recipe.description}"></td>-->
    <!--                    <td th:text="${recipe.category.name}"></td>-->
    <!--                    <td th:text="${recipe.ingredients}"></td>-->
    <!--                    <td th:text="${recipe.datePosted}"></td>-->
    <!--                    &lt;!&ndash; TODO: display creator username &ndash;&gt;-->
    <!--                    <td>No recipe creator</td>-->
    <!--                </tr>-->
    <!--                </tbody>-->
    <!--            </table>-->
    <!--        </div>-->
    <!--        <div class="table-responsive">-->
    <!--            <table class="table table-striped">-->
    <!--                <thead></thead>-->
    <!--                <tbody>-->
    <!--                <tr th:each="comment : ${comments}">-->
    <!--                    <td th:text="${comment.datePosted}"></td>-->
    <!--                    &lt;!&ndash; TODO: display comment username &ndash;&gt;-->
    <!--                    <td>Коментар од(корисничко име)</td>-->
    <!--                    <td th:text="${comment.content}"></td>-->
    <!--                    &lt;!&ndash;<td class="text-right">-->
    <!--                        <form action="/recipes/add-to-favourites" th:method="POST">-->
    <!--                            <input type="text" name="color" th:value="${recipe.id}" hidden>-->
    <!--                            <button class="add-to-cart-btn" type="submit">Add to favourites</button>-->
    <!--                        </form>-->
    <!--                        <div>-->
    <!--                            <form th:action="@{'/recipes/delete/{id}' (id=${recipe.id})}" method="post">-->
    <!--                                <button class="delete-balloon-btn" type="submit">Delete</button>-->
    <!--                            </form>-->
    <!--                        </div>-->
    <!--                        <div>-->
    <!--                            <form th:action="@{'/recipes/edit/{id}' (id=${recipe.id})}">-->
    <!--                                <button class="edit-balloon-btn">Edit</button>-->
    <!--                            </form>-->
    <!--                        </div>-->
    <!--                    </td>&ndash;&gt;-->
    <!--                </tr>-->
    <!--                </tbody>-->
    <!--            </table>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    -->
    <!--</div>-->
</th:block>