<th:block xmlns:th="http://www.thymeleaf.org">
<body>


<div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first form-group">
        <img class="logo-login" src="../../../../../../../../Downloads/untitled/images/napijselogobelo.png"/>
    </div>

    <!-- Login Form -->
    <form>
        <input type="text" id="email" class="fadeIn first login" name="login" placeholder="e-mail">
        <input type="text" id="username" class="fadeIn second login" name="login" placeholder="корискичко име">
        <input type="text" id="passwordReg" class="fadeIn third login" name="login" placeholder="лозинка">
        <input type="text" id="repeatPassword" class="fadeIn fourth login" name="login" placeholder="повтори лозинка">

        <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
        <button class="center" style="display: block; margin-bottom: 100px;"><a class="underlineHover" href="#">Најава</a></button>
    </div>
</div>



</body>
</th:block>